<table width="100%" height="95%" style="background-color: white;padding: 10px;">
    <tr height="40%">
        <td width="75%" style="padding-right: 15px;">
            <h1>{{sContentTitle}}</h1>
            <div class="subtext"> 
                {{sContentText}}
            </div>
        </td>
        <td rowspan="2">
            <h1>Navigation</h1>
            <div class="navigation">            
                <ul>
                    <li><h3>Home</h3></li>
                    <li><h3>Product</h3></li>
                    <li><h3>Company</h3></li>
                    <li><h3>Contact</h3></li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding-right: 15px;">
            <h1>{{sSubContentTitle}}</h1>
            <div class="subtext">
                {{sSubContentText}}
            </div>
        </td>
    </tr>
    </table>
    