.navigation{
    height:80%;
    background-color: rgb(184, 179, 179);
}

.navigation li{
    padding: 2px 0px 2px 0px;
    list-style: none;
}

.subtext{
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}