#main-menu{
    background-color: rgb(26, 26, 68);
    height: 70px;    
}

#menu ul {
    display: inline;
    margin-left: 100px;   
 }
 
 #menu ul li {
       list-style-type: none;
       padding-left: 30px;
       padding-top:25px;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size: 16px;
       color:whitesmoke;
       float: left;
       cursor: pointer;
 }

#links
{
    position:absolute;right:10px; padding-right: 10px;
}

 /* .icon{
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    align-content:right;
 }
  */
 #links img{
    height: 30px;
    width: 30px;
 }